<footer>
  <mat-grid-list cols="1" rowHeight="auto" gutterSize="16px" class="footer-grid">
    <mat-grid-tile>
      <div class="terms-container">
        <h2>TÉRMINOS Y CONDICIONES</h2>
        <a mat-button href="#">Términos de servicio</a>
        <a mat-button href="#">Tratamiento de datos</a>
        <a mat-button href="#">Cambios y garantías</a>
      </div>

    </mat-grid-tile>
    <mat-grid-tile>
      <div class="social-icons">
        <a mat-icon-button href="www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
        <a mat-icon-button href="www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        <a mat-icon-button href="www.youtube.com" target="_blank"><i class="fa fa-youtube-play"></i></a>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
  <div class="copy-container">
    <span>&copy; 2024 Rockstar Inc.</span>
  </div>
</footer>